{%  extends 'accounts/main.html' %}

{% block content %}

	<br>

    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h5>Customer : {{customer.name}} </h5>
                <hr>
                <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'update_customer' customer.id %}">Update Customer</a>
                <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'create_order' customer.id %}">Place Order</a>

            </div>
        </div>

        <div class="col-md">
            <div class="card card-body">
                <h5>Contact Information</h5>
                <hr>
                <p>Email: {{customer.email}}</p>
                <p>Phone: {{customer.phone}}</p>
                <p>Address: {{customer.address}}</p>
            </div>
        </div>

        <div class="col-md">
            <div class="card card-body">
                <h5>Total Orders</h5>
                <hr>
                <h1 style="text-align: center;padding: 2px">{{order_count}}</h1>
                <hr>
                <h5>Cost : {{ total }} $</h1>
            </div>
        </div>
    </div>


    <br>
    <div class="row">
        <div class="col">
            <div class="card card-body">
                <form method="get">
                    {{myFilter.form}}
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
            </div>
        </div>
        
    </div>
    <br>

    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <table class="table table-sm">
                    <tr>
                        <th>Product</th>
                        <th>Note</th>
                        <th>Date Orderd</th>
                        <th>Status</th>
                        <th>Update</th>
                        <th>Remove</th>
                    </tr>
                    {% for order in orders %}
                    <tr>
                        <td>{{order.product}}</td>
                        <td>{{order.note}}</td>
                        <td>{{order.date_created}}</td>
                        <td>{{order.status}}</td>
                        <th><a href="{% url 'update_order' order.id %}" class="btn btn-sm btn-info">Update</a></th>
                        <th><a href="{% url 'delete_order' order.id %}" class="btn btn-sm btn-danger">Delete</a></th> 
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

{% endblock %}